<div class="modal-header">
	<h3>Delete user</h3>
</div>

<div class="modal-body">
	<p>Are you sure you want to delete this user?</p>
</div>

<div class="modal-footer">
	<button type="button" class="btn btn-default" 
		ng-click="cancel()">Close</button>

	<button class="btn btn-primary" 
		ng-click="ok()">Delete</button>
</div>