<div class="modal-body">
	<form class="form-horizontal" name="myForm" role="form">
	<div>
		<label class="control-label" for="firstName">First name</label>

		<div class="controls" ng-class="{'has-error': myForm.firstName.$invalid}">
			<input type="text" name="firstName" class="form-control" ng-model="user.firstName" required />
		</div>
	</div>

	<div>
		<label class="control-label" for="lastName">Last name</label>

		<div class="controls" ng-class="{'has-error': myForm.lastName.$invalid}">
			<input type="text" name="lastName" class="form-control" ng-model="user.lastName" required />
		</div>
	</div>

	<div>
		<label class="control-label" for="email">Email</label>

		<div class="controls" ng-class="{'has-error': myForm.email.$invalid}">
			<input type="email" name="email" class="form-control" ng-model="user.email" required />
		</div>
	</div>

	<div>
		<label class="control-label" for="dateOfBirth">Date of birth</label>

		<div class="input-group" ng-class="{'has-error': myForm.dateOfBirth.$invalid}"> 
			<input type="text" name="dateOfBirth" class="form-control" placeholder="yyyy-mm-dd" datepicker-popup="yyyy-MM-dd" ng-model="user.dateOfBirth" is-open="status.opened" close-text="Close" />
			<span class="input-group-btn">
				<button type="button" class="btn btn-default" ng-click="open($event)">
					<i class="glyphicon glyphicon-calendar"></i>
				</button>
			</span>
	</div>
	</form>
</div>

<div class="modal-footer">
	<button class="btn btn-default" type="button" ng-click="cancel()">Cancel</button>
	<button class="btn btn-primary" type="button" ng-disabled="myForm.$invalid" ng-click="save()">Save</button>
</div>