<h3>
	<span>User management app</span>
	<button id='create-button' ng-click="openEdit({})" class='btn btn-success btn-sm pull-right'>
		<span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Create
	</button>
</h3>
<table class="table table-condensed table-hover" ng-table="usersTable">
	<tr ng-repeat="user in $data">
		<td data-title="'ID'" sortable="'id'">{{user.id}}</td>
		<td data-title="'First name'" sortable="'firstName'">{{user.firstName}}</td>
		<td data-title="'Last name'" sortable="'lastName'">{{user.lastName}}</td>
		<td data-title="'Email'" sortable="'email'"><a href="mailto:{{user.email}}">{{user.email}}</a></td>
		<td data-title="'Date of birth'" sortable="'dateOfBirth'">{{user.dateOfBirth}}</td>
		<td class="col-md-1 text-right">
			<button ng-click="openEdit(user)" class="btn btn-sm btn-primary">
				<span class="glyphicon glyphicon-pencil" aria-hidden="true"></span> Edit
			</button>
		</td>
		<td class="col-md-1 text-right">
			<button ng-click="openDelete(user)" class="btn btn-sm btn-danger">
				<span class="glyphicon glyphicon-remove" aria-hidden="true"></span> Delete
			</button>
		</td>
	</tr>
</table>